body {
    background-image: url("../images/background2.jpg");
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 15px;
}

span{
	color: black;
	text-align: center;
	font-size: 17px;
}

div{
	height: 450px;
	margin-top: 60px;
	padding: 30px 30px;
	width: 350px;
	background: rgba(240,240,240,.50);

}

#registerDiv input{
	line-height: 2.3;
}

#pictureDiv{
	width: 240px;
	height: 260px;
	background-image: url("../images/image.jpg");
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 220px;
}

.buttons{
	border-radius: 15px;
	margin: 25px 25px;
	cursor: pointer;
	background-color: #F2BB5F;
	height: 30px;
	width: 100px;
}

.buttons:hover{
  background-color: #DF697C;
}

input {
	margin: 15px 15px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    line-height: 3.6;
    color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: black;
}